body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.color-picker {
    text-align: center;
    margin-right: 20px;
}

.color-info {
    text-align: center;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 10px;
}

#monochromatic, #complementary, #split-complementary, #analogous {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-box {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #000;
}
